@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,900;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,900&family=Spline+Sans+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


.book.font-family-0 {
  font-family: "Asap", Tahoma, Arial, sans-serif;
}
.book.font-family-1 {
  font-family: "Asap", Tahoma, Arial, sans-serif;
}
.book .book-header h1 {
  font-family: "Literata", "Bodoni MT",  "Bodoni 72", Georgia, serif;
  font-weight: 700;
}


p, li {
  font-family: "Asap", Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Literata", "Bodoni MT",  "Bodoni 72", Georgia, serif;
  font-weight: 400;
}

h1, h2 {
  font-weight: 650;
}

h1.title {
  font-weight: 720;
}

h1.hasAnchor {
  font-weight: 720;
}

.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: "Spline Sans Mono", Consolas, Monospace;
}

p.caption {
  color: #5A5A5A;
  margin-top: 10px;
}
p code, pre code {
  font-family: "Spline Sans Mono", Consolas, Monospace;
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

p.flushright {
  text-align: right;
}

a, .st-hover, .st-current {
  color: #28A87D;
}

blockquote {
  font-family: "Literata", "Bodoni MT",  "Bodoni 72", Georgia, serif;
  font-style: italic;
}

blockquote > p:last-child {
  text-align: right;
}

blockquote > p:first-child {
  text-align: inherit;
}

.header-section-number, .subtitle{
  font-family: "Literata", "Bodoni MT",  "Bodoni 72", Georgia, serif;
}

.csl-entry {
  font-family: "Asap", Tahoma, Arial, sans-serif;
}

.title, .subtitle {
  line-height: 130%;
}

caption, .caption {
  font-family: "Literata", "Bodoni MT",  "Bodoni 72", Georgia, serif;
  font-style: italic;
  color: #5A5A5A;
  font-size: 85%;
}

thead, tbody {
  font-size: 90%;
}

.note {
  font-family: "Asap", Tahoma, Arial, sans-serif;
  color:#28A87D;
  font-weight: 400;
  font-style: italic;
}

.comment{
  font-family: "Asap", Tahoma, Arial, sans-serif;
  color:#E2A121;
  font-weight: 700;
  font-style: italic;
}

/* The next two rules make the horizontal line DISAPPEAR in top navbar */
 /* https://rstudio4edu.github.io/rstudio4edu-book/book-fancy.html#align-tool */

 .summary > li:first-child {
     height: 60px;
     padding-top: 10px;
     border-bottom: 0px solid rgba(0,0,0,0);
 }

 .book .book-summary ul.summary li.divider {
     height: 0px;
 }

 /* Rounded border */
 hr.grey {
   border-top: 1px solid rgba(0,0,0,.07);
 }
