@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');

p, li{
  font-family: DM Sans;
}

h1, h2, h3, h4, h5{
  font-family: DM Serif Display;
}

code{
  font-family: Overpass Mono;
}

.sourceCode{
  font-family: Overpass Mono;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  font-family:  Overpass Mono;
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  font-family: Overpass Mono;
  white-space: inherit;
}

p.flushright {
  text-align: right;
}

a, .st-hover, .st-current {
  fill: #28A87D;
  color: #28A87D;
}

blockquote {
  font-style: italic;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

.header-section-number, .subtitle{
  font-family: DM Serif Display;
}

.csl-entry {
  font-family: DM Sans;
}

.title, .subtitle {
  line-height: 130%;
}

.caption {
  font-family: DM Serif Text;
  font-style: italic;
  color: #949494;
}
